@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

div{
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    width: 400px;
    margin: 10px;
    position: absolute;
    top: 20%;
    left: 35%;
    transform-translate: (-50% -50%);
    display: none;

}

h3, button{
    margin: 5px;
}